.categories {
  top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  margin-left: 350px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
  position: fixed;
  top: 9vh;
  z-index: 2;
  background-color: white;
}
.category {
  /* border: 0.5px solid black; */
  flex: 25%;
  border: 0.3px dashed #adb2ba;
  padding: 20px;
  margin: auto;
  margin: 0;
  height: fit-content;
  background-color: white;
}
.category ui {
  list-style: none;
}
.category li h3 {
  margin: 8px;
}
.category li h3:hover {
  color: #30b0a3;
  /* background-color: burlywood; */
}
.category > h2 {
  font-size: 25px;
  color: red;
}
