.slider-card {
  width: 200px;
  height: 300px;
}

.slick-arrow {
  display: block;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
}

.slick-next {
  right: -60px;
}
.slick-prev {
  left: -60px;
  z-index: 300;
}
.slick-prev:before,
.slick-next:before {
  color: rgba(0, 0, 0, 0);
}
/* .slick-slide {
}

.slick-track {
} */

.slider-backward-arrow {
  color: #fff;
  position: absolute;
  margin-top: 9rem;
  left: 10px;
}

.slider-forward-arrow {
  color: #fff;
  position: absolute;
  margin-top: 9rem;
  right: 10px;
}
@media only screen and (max-width: 600px) {
  .slider-card {
    width: 100px;
    height: 150px;
  }
  .slider-backward-arrow {
    color: transparent;
  }

  .slider-forward-arrow {
    color: transparent;
  }
  .slick-prev,
  .slick-next {
    display: none;
  }
}
@media only screen and (min-width: 1900px) {
  .slider-card {
    width: 250px;
    height: 350px;
  }
}
