.slide img {
  width: 100vw;
  height: 50%;
}
.slide {
  margin-top: 9vh;
}
.PauseOnHover .slick-prev:before,
.PauseOnHover .slide .slick-next:before {
  border: none;
  color: transparent;
  font-size: 20px;
}
